/**multiples of 8
colors: #C2DFE3, #B9D2B1**/
a:link{
    text-decoration: none;
   	color: black;
}

a:visited {
    color: black;
}

/**Experience**/

#resume{
	display:none;
}
.navbar{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-family: 'Hind', sans-serif;
	/**
	border-bottom-style: solid;
	border-bottom-width:1px;
	**/
	background: #F0F0F0;
}

.nav_elem{
	margin: 16px;
	margin-left: 20px;
	font-size: 16px
}

.nav_elem:hover{
	opacity: 0.5;
}

.experience{
	margin-right: 32px;
}

#all-experience{
	margin: 96px;
	text-align: center;
	font-family: 'Fredericka the Great', sans-serif;
	
	font-size: 40px;
}
.experience-item-container{
	display: flex;
	justify-content:center;

	flex-wrap: wrap;
	margin-top: 56px;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom:24px;

}
.experience-box{
	width: 296px;
	height: 200px;
	margin-top: 24px;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom:24px;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
}

#nasa-logo{
	z-index: 10;
	max-width: 148px;
}

#nasa-blurb{
	z-index: 20;
	display: none;
}

#nasa-blurb:hover{
	display:block;
}

#qualcomm-logo{
	max-height: 200px;
	width: 224px;
	z-index: 10;
}
#berkeley-campus{
	width: 296px;
	height: 200px;
}

.label-background{
	width: 296px;
	height: 200px;
	position: absolute;
}

.blurb{
	width: 296px;
	height: 140px;
	/*margin-top: -164px;*/
	/*margin-right: 40px;*/
	/*margin-left: 40px;*/
	/*margin-bottom:24px;*/
	bottom: 0;
	background-color: #C2DFE3;
	z-index: 20;
	position: absolute;
	/*display:flex;
	justify-content:center;
	align-items:center;*/
}

.hidden{
	display:none;
}

.active{
	/*display:flex;*/
}

#qualcomm-background{
	opacity: 0.7;
}

#all-projects{
	margin: 96px;
	text-align: center;
	font-size: 32px;
	font-family: 'Fredericka the Great', cursive;
	display: flex;
	justify-content:center;
	
}

.project-label{
	width: 150px;
	border: 1px solid;
	border-radius: 6px;
	margin-right: 16px;
	margin-left: 16px;
}
.project-item-container{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	margin-top: 24px;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom:24px;

}
/**.project-box{
	width: 296px;
	height: 200px;
	margin-top: 24px;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom:24px;
	background-color: #B9D2B1;
}
**/

body{
	line-height: 1.5;
	margin: 0;
}
/**ABOUT**/

#about-content{
	display:none;
}
#profile-pic{
	min-width: 304px;
	min-height: 296px;
	border-radius: 450px;
	overflow: hidden;
	margin-left:168px;
	margin-right:64px;
	margin-top:96px;
}

#prof{
	width: 400px;
	height: 296px;
}
#about-text{
	font-size: 19px;
	margin-top: 48px;
	font-family: 'Hind', sans-serif;
	margin-bottom: 112px;


}
#about-box{
	/*
	font-family: 'League Script', cursive;
	*/
	
	font-family: 'Fredericka the Great', cursive;
	font-size: 48px;
	margin-top: 112px;
	margin-left: 64px;
	margin-right: 168px;
	border: 64px;
}

#about-content{
	display:flex;
	height: 340px;

}

#contact{
	font-size: 32px;
	display: flex;
	margin-top: 16px;
}

#linkedin-icon{
	height:32px;
	width:32px;
	margin-left: 20px;
	margin-right: 20px;
	z-index: 0;
}

#gmail-icon{
	height:32px;
	width:32px;
}

.label{
	font-family: 'Hind', sans-serif;
	font-size: 16px;
}

/**home**/

/**
#home-body{
	background-image: url("background.jpg");
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
**/

body#home-body {
    /* The image used */
    background: url('background.jpg');

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro-vid{
	border: 2px outset #ddd;
}

#intro{
	display:flex;
	justify-content:center;
	align-items:center;

}

#intro-vid{
	margin-top: 96px;
}

#home-view{
	text-align: center;
	
}
#name{
	margin-top: 88px;
	font-family: 'Fredericka the Great', sans-serif;
	font-size: 64px;
}

#home-nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: 'Hind', sans-serif;
	background: transparent;
}

/**Travel**/
#travel-diary{
	/*
	font-family: 'League Script', cursive;
	*/
	font-family: 'Fredericka the Great', cursive;
	font-size: 64px;

}

.videos{
	margin-top: 112px;
	display: flex;
	flex-direction:column;

	
}

.diary{
	display: none;
}



.video-text{
	font-size: 64px;
	display: flex;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 120px;
	display: none;
	/*
	font-family: 'League Script', cursive;
	*/
	font-family: 'Fredericka the Great', cursive;

}

.place{
	display:flex;
	flex-direction:row;
	justify-content:center;

}

.specific-places{
	margin-left: 120px;
	margin-right: 120px;
	font-family: 'Hind', sans-serif;
	display: none;
}

.city{
	margin-top: 64px;
	margin-bottom: 64px;

}

#travel-diary{
	text-align: center;
}

